main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 47%;
    column-gap: 3%;
    position: relative;
}

.join{
    grid-column: 1 /span 2;
}
h1{
    text-align: center;
    grid-column:  1 / 3;
}

form {
    width: 100%;
    box-sizing: border-box;
}

form > div{
    display: block;
    margin: .9rem 0;
    box-sizing: border-box;
    /* width: 95%; */
}

form div label {
    font-size: 1.1rem;
    font-weight: 600;
    left: 10px;
    top: 20px;
    z-index: 1000;
}

form div input, form div textarea, form div select{
    padding: 5px 10px;
    width: 100%;
    /* height: 45px; */
    font-size: 1.5em;
    background-color: transparent;
    color: var(--primary);
    outline: none;
    border-radius: 7px;
    border: 2px solid var(--primary);
    /* box-sizing: border-box; */
}

form div select{
    border: 2px solid var(--primary);
}

form div input, form div textarea{
    display: block;
    border-width: 0 0 3px 10px;
    border-color: transparent transparent var(--primary) red;
}



#busines{
    display: grid ;
}

form div input:focus-within  label{
    /* display: none; */
    top: -5px;
} 

form button{
    width : 60%; 
    padding: 1rem;
    font-weight: 600;
    font-size: .8em;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--blue-white);
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    transition: all .3s;
}

form button:hover{
    transform: scale(1.05);
}

main section{
    text-align: center;
    width: 80%;
    padding: 1rem 0;
    margin: .5rem auto;
    background-color: var(--grey);
    border-radius: 10px;
    overflow: hidden;
    /* animation: fadeIn 3s ease-in-out; */
}

main section iframe{
    margin-right: 20%;
}

@media screen and (max-width: 1024px) {
    main{
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    main{
        display: block;
        width: 95%;
        grid-gap: 3rem;
    }

    section:nth-child(3){
        margin-top: 3rem;
    }

    form > div{
        width:90%;
    }
    main section{
        width: 100%;
    }

    main section iframe{
        margin: 0;
    }


}